/*---------------------------------Color---------------------------*/
/*---------------------------------Text Font---------------------------*/
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 300;
  display: block;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
  display: block;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 1000;
  display: block;
}

@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: 300;
  display: block;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  display: block;
}

/*---------------------------------Text effet---------------------------*/
* {
  padding: 0;
  margin: 0;
  border: none;
}

ul, li {
  list-style: none;
}

.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
}

.cover.active {
  opacity: 0.9;
  z-index: 100;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-top {
  width: 100%;
  background-color: black;
}

.header-top ul, .header-top li {
  display: inline;
}

.header-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #525252;
  line-height: 1.2;
  font-size: 15px;
  padding: 12px 0 15px 0;
  margin-left: 15px;
}

.header-top-menu .topmenu_right {
  font-size: 14px;
  padding-right: 13px;
}

.header-top-menu .topmenu_right a {
  color: #888888;
}

.header-top .fa-solid {
  padding-left: 20px;
}

.header-category {
  height: 77px;
  border-bottom: 1px solid lightgray;
}

.header-category_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-category_menu_menulogo {
  height: 40px;
  width: 200px;
  padding: 10px 0 0 14px;
  border: solid 2px black;
  margin-top: 20px;
  margin-left: 17px;
}

.header-category_menu_menulogo_content {
  font-family: "Montserrat";
  line-height: 0.75;
  font-weight: bold;
  color: black;
  font-size: 20px;
  line-height: 0.75;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.header-category_menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -103px;
}

.header-category_menubar .list-items {
  padding: 31px 0 0 55px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.header-category_menubar .list-items:first-child {
  padding-left: 0;
}

.header-category_menubar .list-items:first-child a {
  color: #8262b5;
}

.header-category_menubar .list-items a {
  color: black;
}

.header-category_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.header-category_cart .cart {
  padding-right: 15px;
  padding-left: 14px;
  font-size: 29px;
  line-height: 0.733;
}

.header-category_cart .cart a {
  color: black;
}

.header-category .nav-bar {
  display: none;
  cursor: pointer;
}

.banner {
  padding-top: 35px;
}

.banner .container {
  padding: 0 0;
}

.banner-ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-ads-01 {
  overflow: hidden;
  position: relative;
}

.banner-ads-01 .text-ad01 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  font-size: 30px;
  font-family: "Pacifico";
  color: black;
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
  left: 342px;
  top: 319px;
}

.banner-ads-01 .btn-ad01 {
  position: absolute;
  background-color: #8262b5;
  font-family: "Montserrat";
  color: white;
  line-height: 1.2;
  text-align: center;
  left: 550px;
  top: 366px;
  padding: 12px 13px 10px 13px;
}

.banner-ads-02 {
  overflow: hidden;
  padding-left: 30px;
  position: relative;
}

.banner-ads-02-content-top .text1-ad02 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  color: #525252;
  letter-spacing: 3.5px;
  font-size: 16px;
  left: 85px;
  top: 85px;
  font-weight: 300;
}

.banner-ads-02-content-top .text2-ad02 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-weight: 1000;
  color: black;
  font-size: 20px;
  left: 86px;
  top: 104px;
}

.banner-ads-02-content-bottom {
  padding-top: 30px;
}

.banner-ads-02-content-bottom .text1-ad03 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  color: #525252;
  letter-spacing: 3.5px;
  font-size: 16px;
  left: 68px;
  top: 348px;
  font-weight: 300;
}

.banner-ads-02-content-bottom .text2-ad03 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-weight: 1000;
  color: black;
  font-size: 20px;
  left: 68px;
  top: 369px;
}

.banner-ads-02-content-bottom .btn-ad03 {
  position: absolute;
  background-color: #8262b5;
  font-family: "Montserrat";
  color: white;
  line-height: 1.2;
  text-align: center;
  left: 70px;
  top: 409px;
  padding: 12px 13px 10px 13px;
}

/*--------------------------------Product------------------------------------*/
/*------------------------Title---------------------------*/
.product-title {
  padding-top: 74px;
}

.product-title .container {
  padding-left: 0;
  padding-right: 0;
}

.product-title .container .content .text-title1 {
  font-size: 12px;
  font-family: "Montserrat";
  color: #8262b5;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 6px;
  text-align: left;
}

.product-title .container .content .text-title2 {
  font-size: 24px;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 2.5px;
}

.product-title .container .content .line {
  border-bottom: 1px solid #8262b5;
  padding-top: 6px;
  width: 50px;
}

.product-row {
  padding-top: 34px;
  width: 100%;
}

.product-row .container {
  padding: 0;
}

.product-row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-row-content-detail {
  width: calc(((100% + 30px) / 4) - 30px);
  margin: 0 30px 32px 0;
  position: relative;
}

.product-row-content-detail:nth-child(4n) {
  margin-right: 0;
}

.product-row-content-detail .btn-row {
  position: absolute;
  left: 9px;
  top: 277px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-content-detail .btn-row:active {
  background-color: white;
  color: #8262b5;
}

.product-row-content-detail ul {
  padding-top: 11px;
  display: block;
}

.product-row-content-detail ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
  font-weight: 300;
  padding-left: 2px;
}

.product-row-content-detail .rating {
  padding-top: 4px;
  padding-left: 2px;
  padding-bottom: 4px;
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-content-detail .checker {
  color: #f7e227;
}

.product-row-content-detail .price {
  padding-left: 2px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-content-detail .discour {
  color: #644891;
  font-weight: bold;
}

.product-row-content-2 {
  position: relative;
  padding-left: 30px;
}

.product-row-content-2 .btn-row-2 {
  position: absolute;
  left: 40px;
  top: 277px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-content-2 .btn-row-2:active {
  background-color: white;
  color: #8262b5;
}

.product-row-content-2 ul {
  padding-top: 11px;
  display: block;
}

.product-row-content-2 ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
  font-weight: 300;
  padding-left: 2px;
}

.product-row-content-2 .rating {
  padding-top: 4px;
  padding-left: 2px;
  padding-bottom: 4px;
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-content-2 .checker {
  color: #f7e227;
}

.product-row-content-2 .price {
  padding-left: 2px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-content-2 .discour {
  color: #644891;
  font-weight: bold;
}

.product-row-2 {
  padding-top: 29px;
}

.product-row-2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-row-2-content-1 {
  position: relative;
}

.product-row-2-content-1 .btn-row-1 {
  position: absolute;
  left: 9px;
  top: 279px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-2-content-1 .but-row-1:active {
  background-color: white;
  color: #8262b5;
}

.product-row-2-content-1 ul {
  padding-top: 14px;
  display: block;
}

.product-row-2-content-1 ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
  font-weight: 300;
  padding-left: 2px;
}

.product-row-2-content-1 .rating {
  padding-top: 4px;
  padding-left: 2px;
  padding-bottom: 4px;
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-2-content-1 .checker {
  color: #f7e227;
}

.product-row-2-content-1 .price {
  padding-left: 2px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-2-content-1 .discour {
  color: #644891;
  font-weight: bold;
}

.product-row-2-content-2 {
  position: relative;
  padding-left: 30px;
}

.product-row-2-content-2 .btn-row-2 {
  position: absolute;
  left: 40px;
  top: 279px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-2-content-2 .btn-row-2:active {
  background-color: white;
  color: #8262b5;
}

.product-row-2-content-2 ul {
  padding-top: 14px;
  display: block;
}

.product-row-2-content-2 ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
  font-weight: 300;
  padding-left: 2px;
}

.product-row-2-content-2 .rating {
  padding-top: 4px;
  padding-left: 2px;
  padding-bottom: 4px;
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-2-content-2 .checker {
  color: #f7e227;
}

.product-row-2-content-2 .price {
  padding-left: 2px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-2-content-2 .discour {
  color: #644891;
  font-weight: bold;
}

/*------------------------Slider----------------------------*/
.slider {
  margin-top: 30px;
  background-image: url("../images/background-1.jpg");
  width: 100%;
  height: 708px;
  padding-top: 72px;
}

.slider-title-content-descript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-title-content-descript .text-title1 {
  padding-top: 7px;
  padding-left: 8px;
  margin-bottom: 11px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #8262b5;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 5.5px;
}

.slider-title-content-descript .text-title2 {
  font-size: 24px;
  margin-left: 5px;
  margin-bottom: 16px;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 2px;
}

.slider-title-content-descript .line {
  border-bottom: 1px solid #8262b5;
  padding-top: 6px;
  width: 50px;
  margin-left: 4px;
}

.slider-category {
  padding-top: 34px;
}

.slider-category_row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* the parent */
}

.slider-category_row .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  list-style-type: none;
  bottom: -75px;
}

.slider-category_row .slick-dots li button:before {
  font-size: 40px;
  color: #888888;
  opacity: 1;
}

.slider-category_row .slick-dots .slick-active button:before {
  color: #8262b5;
  font-size: 55px;
}

.slider-category_row .slick-slide {
  margin: 0 19px;
}

.slider-category_row .slick-list {
  margin: 0 -19px;
}

.slider-category_row_col .detail {
  position: relative;
}

.slider-category_row_col .detail img {
  width: 100%;
}

.slider-category_row_col .detail .date {
  background-color: #a1d1dd;
  top: 22px;
  position: absolute;
  width: 60px;
  height: 60px;
  padding-left: 6px;
  padding-top: 6px;
  left: 20px;
}

.slider-category_row_col .detail .date .date-info {
  border-width: 1px;
  border-color: #fefefe;
  border-style: solid;
  width: 48px;
  height: 48px;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.2;
  text-align: center;
  padding-top: 8px;
}

.slider-category_row_col .detail .date .date-info li:nth-child(2) {
  font-weight: 300;
  font-size: 16px;
}

.slider-category_row_col .detail .info {
  background-color: white;
}

.slider-category_row_col .detail .info .slide-title {
  padding: 17px 20px 0 20px;
  font-size: 16px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.225;
  font-weight: 300;
}

.slider-category_row_col .detail .info .slide-title:active {
  background-color: white;
  color: #8262b5;
}

.slider-category_row_col .detail .info .slide-descript {
  padding: 2px 20px 5px 20px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #424242;
  line-height: 1.571;
}

.slider-category_row_col .detail .info .line {
  border-bottom: 1px solid lightgray;
  display: block;
  width: 100%;
}

.slider-category_row_col .detail .info .slide-icon {
  padding: 5px 20px 5px 17px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #e6dada;
}

.slider-category .container {
  padding-left: 0;
  padding-right: 0;
}

/*------------------------footer----------------------------*/
.footer {
  height: 100%;
  padding-top: 59px;
  background-color: black;
}

.footer .container {
  padding-left: 0;
  padding-right: 0;
}

.footer-content {
  padding-left: 1px;
}

.footer-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
}

.footer-content-row-col {
  width: 30%;
  margin-right: 130px;
}

.footer-content-row-col-1-title {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.35;
  text-align: left;
  font-weight: 300;
}

.footer-content-row-col-1 .line {
  padding-top: 10px;
  border-bottom: 1px solid #393939;
  width: 260px;
}

.footer-content-row-col-1-descript {
  padding-top: 7px;
  padding-left: 2px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #888888;
  line-height: 1.571;
  text-align: left;
  width: 100%;
}

.footer-content-row-col-1-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 31px;
  font-size: 16px;
  color: #828282;
  text-transform: uppercase;
  line-height: 1.2;
}

.footer-content-row-col-1-list .list-items {
  padding-left: 32px;
}

.footer-content-row-col-3-title {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.35;
  text-align: left;
  font-weight: 300;
}

.footer-content-row-col-3 .line {
  padding-top: 10px;
  border-bottom: 1px solid #393939;
  width: 260px;
}

.footer-content-row-col-3-list {
  padding-top: 3px;
}

.footer-content-row-col-3-list .list-items {
  font-size: 15px;
  font-family: "Montserrat";
  line-height: 2.2;
  color: #888888;
}

.footer-content-row-col-3-list .list-items i {
  margin-right: 11.5px;
  line-height: 34px;
}

.footer-content-row-col-3-list .list-items a {
  color: #888888;
}

.footer-content-row-colmid {
  width: 40%;
  margin-right: 130px;
}

.footer-content-row-colmid-2-title {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.35;
  text-align: left;
  font-weight: 300;
}

.footer-content-row-colmid-2 .line {
  padding-top: 10px;
  border-bottom: 1px solid #393939;
  width: 360px;
}

.footer-content-row-colmid-2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 2px;
}

.footer-content-row-colmid-2-list-left .list-items {
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  font-family: "OpenSans";
  line-height: 2.143;
  text-align: left;
}

.footer-content-row-colmid-2-list-left .list-items a {
  color: #888888;
}

.footer-content-row-colmid-2-list-left .list-items:first-child {
  padding-top: 0;
}

.footer-content-row-colmid-2-list-left .list-items:nth-child(4) {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.footer-content-row-colmid-2-list-left .list-items:nth-child(4) a {
  color: white;
}

.footer-content-row-colmid-2-list-right {
  padding-top: 2px;
  padding-left: 0;
  padding-right: 48px;
  font-size: 14px;
  font-family: "OpenSans";
  line-height: 2.143;
  text-align: left;
}

.footer-content-row-colmid-2-list-right a {
  color: #888888;
}

.footer-content-row-colmid-2-list-right:first-child {
  padding-top: 0;
}

.footer-copyright .border-line {
  padding-top: 23px;
  border-bottom: 1px solid #393939;
}

.footer-copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 3px;
  padding-top: 4px;
}

.footer-copyright-content-rules {
  font-size: 14px;
  font-family: "OpenSans";
  color: #888888;
  line-height: 1.8;
}

.footer-copyright-content-rules .icon-1 {
  font-size: 12px;
}

.footer-copyright-content-rules .icon-2 {
  color: red;
}

.footer-copyright-content-rules .text {
  font-weight: bold;
  color: white;
}

.footer-copyright-content-payment {
  padding-right: 0;
  font-size: 20px;
  font-family: "Montserrat";
  color: #888888;
  line-height: 1.1;
}

.footer-copyright-content-payment .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright-content-payment .list .list-items {
  padding-left: 10px;
}

.footer-copyright .container {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 1200px) {
  .header-category_menubar {
    padding-left: 10px;
  }
  .header-category_menubar .list-items {
    padding-bottom: 3px;
    padding-left: 10px;
  }
  .header-category_cart {
    padding-top: 11px;
  }
  .header-category_cart .cart {
    padding-left: 25px;
    font-size: 26px;
    line-height: 0.733;
  }
  .footer-content-row {
    width: 100%;
  }
  .footer-content-row-col-1 .line {
    width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  .header-top-menu .topmenu_right li {
    display: none;
  }
  .header-category_menubar {
    padding-left: 10px;
  }
  .header-category_menubar .list-items {
    padding-bottom: 3px;
    padding-left: 10px;
  }
  .header-category_cart {
    padding-top: 11px;
  }
  .header-category_cart .cart {
    padding-left: 25px;
    font-size: 26px;
    line-height: 0.733;
  }
  .banner-ads {
    display: block;
  }
  .banner-ads-01 {
    text-align: center;
    margin-left: 60px;
  }
  .banner-ads-02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 103px;
  }
  .banner-ads-02-content-top {
    margin-top: 30px;
  }
  .banner-ads-02-content-top .text1-ad02 {
    font-size: 12px;
    left: 80px;
    top: 115px;
  }
  .banner-ads-02-content-top .text2-ad02 {
    font-size: 16px;
    left: 80px;
    top: 130px;
  }
  .banner-ads-02-content-bottom {
    margin-left: 30px;
    margin-top: 0;
  }
  .banner-ads-02-content-bottom .text1-ad03 {
    font-size: 12px;
    left: 460px;
    top: 115px;
  }
  .banner-ads-02-content-bottom .text2-ad03 {
    font-size: 16px;
    left: 460px;
    top: 130px;
  }
  .banner-ads-02-content-bottom .btn-ad03 {
    left: 460px;
    top: 150px;
    padding: 10px 11px 10px 11px;
    font-size: 10px;
  }
  .banner-ads-02-content-bottom img {
    width: 360px;
    height: 200px;
  }
  .product-title .content {
    padding-left: 75px;
  }
  .product-row-content {
    margin-left: 70px;
  }
  .product-row-content-detail {
    width: calc((100% + 170px) / 4);
  }
  .product-row-content-detail:nth-child(4n) {
    margin-right: 30px;
  }
  .footer-content-row-col {
    margin-right: 0;
  }
  .footer-content-row-col-1 {
    margin-right: 30px;
  }
  .footer-content-row-col-1 .line {
    width: 100%;
  }
  .footer-content-row-col-3 {
    padding-left: 0;
  }
  .footer-content-row-col-3 .line {
    width: 100%;
  }
  .footer-content-row-colmid {
    margin-right: 0;
  }
  .footer-content-row-colmid-2 {
    width: 270px;
  }
  .footer-content-row-colmid-2 .line {
    width: 270px;
  }
}

@media screen and (max-width: 1024px) {
  .header-top-menu {
    font-size: 12px;
  }
  .header-category_menu_menulogo {
    display: none;
  }
  .header-category_menubar {
    padding-left: 100px;
  }
  .header-category_menubar .list-items {
    padding-bottom: 3px;
    padding-left: 15px;
  }
  .banner {
    width: 100%;
  }
  .banner-ads {
    display: block;
  }
  .banner-ads-01 {
    margin-right: 84px;
  }
  .banner-ads-02 {
    margin-top: 30px;
    margin-left: 62px;
  }
  .product-row-content {
    margin-left: 70px;
  }
  .product-row-content-detail {
    width: calc((100% + 100px) / 4);
  }
  .product-row-content-detail .btn-row {
    left: 9px;
    top: 70%;
  }
  .slider-category_row {
    /* the parent */
  }
  .slider-category_row .slick-slide {
    margin: 0 13px;
  }
  .slider-category_row .slick-list {
    margin: 0 -13px;
  }
  .footer-content-row {
    padding-right: 140px;
    width: 100%;
  }
  .footer-content-row-col-1-title {
    font-size: 10px;
  }
  .footer-content-row-col-1-descript {
    font-size: 10px;
  }
  .footer-content-row-col-3-title {
    font-size: 10px;
  }
  .footer-content-row-col-3-list ul .list-items {
    font-size: 10px;
  }
  .footer-content-row-colmid {
    padding-right: 0;
  }
  .footer-content-row-colmid-2-title {
    font-size: 12px;
  }
  .footer-content-row-colmid-2-list .list-items {
    font-size: 10px;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    width: 100%;
  }
  .banner-ads {
    display: block;
  }
  .banner-ads-01 {
    float: left;
  }
  .banner-ads-01 img {
    width: 100%;
  }
  .banner-ads-01 .text-ad01 {
    top: 58.5%;
    left: 270px;
    font-size: 25px;
  }
  .banner-ads-01 .btn-ad01 {
    top: 65.5%;
    left: 447px;
    font-size: 12px;
  }
  .banner-ads-02 {
    margin-top: 30px;
    margin-left: 27px;
    margin-right: 85px;
  }
  .banner-ads-02-content-top img {
    width: 320px;
    height: 170px;
  }
  .banner-ads-02-content-top .text1-ad02 {
    top: 54.5%;
    left: 65px;
  }
  .banner-ads-02-content-top .text2-ad02 {
    top: 63.5%;
    left: 65px;
  }
  .banner-ads-02-content-bottom img {
    width: 305px;
    height: 170px;
  }
  .banner-ads-02-content-bottom .text1-ad03 {
    top: 54.5%;
    left: 400px;
  }
  .banner-ads-02-content-bottom .text2-ad03 {
    top: 63.5%;
    left: 400px;
  }
  .banner-ads-02-content-bottom .btn-ad03 {
    top: 75.5%;
    left: 400px;
    font-size: 8px;
  }
  .product-title .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0px;
  }
  .product-row-content {
    margin-left: 60px;
  }
  .product-row-content-detail {
    width: calc((100% + 200px) / 3);
  }
  .product-row-content-detail .btn-row {
    left: 9px;
    top: 61.5%;
  }
  .slider-category {
    padding-left: 0;
  }
  .slider-category_row {
    /* the parent */
  }
  .slider-category_row .slick-dots {
    padding-right: 0;
  }
  .slider-category_row .slick-slide {
    margin: 0;
  }
  .slider-category_row .slick-list {
    margin: 0;
  }
  .slider-category_row_col .detail {
    margin-left: 15%;
    width: 500px;
  }
  .footer-content-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content-row-col {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header-category {
    width: 100%;
  }
  .header-category .nav-bar {
    display: block;
    font-size: 30px;
    padding: 10px 0 0 12px;
  }
  .header-category_menu_menulogo {
    display: block;
    text-align: center;
    margin-left: 50px;
  }
  .header-category_menubar {
    display: block;
    position: absolute;
    margin-top: 385px;
    left: 0;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    background: lightgray;
    text-decoration: underline;
    -webkit-transition: all .5s;
    transition: all .5s;
    padding: 0 12px 20px 0;
  }
  .header-category_menubar .list-items {
    text-align: center;
  }
  .header-category_menubar .list-items:first-child {
    padding-left: 15px;
  }
  .header-category .active {
    -webkit-transform: translateX(78%);
            transform: translateX(78%);
    z-index: 1000;
  }
  .banner {
    width: 100%;
  }
  .banner-ads-01 {
    margin: 0 0;
  }
  .banner-ads-01 .text-ad01 {
    top: 58.5%;
    left: 40%;
    font-size: 20px;
  }
  .banner-ads-01 .btn-ad01 {
    top: 68.5%;
    left: 72%;
    font-size: 12px;
  }
  .banner-ads-02 {
    margin: 0 0;
    padding-left: 1px;
  }
  .banner-ads-02-content-top img {
    width: 100%;
    height: 130px;
  }
  .banner-ads-02-content-top .text1-ad02 {
    top: 56.5%;
    left: 40px;
  }
  .banner-ads-02-content-top .text2-ad02 {
    top: 66.5%;
    left: 40px;
  }
  .banner-ads-02-content-bottom .text1-ad03 {
    top: 56.5%;
    left: 55%;
  }
  .banner-ads-02-content-bottom .text2-ad03 {
    top: 66.5%;
    left: 55%;
  }
  .banner-ads-02-content-bottom .btn-ad03 {
    top: 78.5%;
    left: 55%;
    font-size: 8px;
  }
  .banner-ads-02-content-bottom img {
    width: 100%;
    height: 130px;
  }
  .product-title .container .content {
    padding-left: 0px;
  }
  .product-title .container .content .text-title1 {
    font-size: 9px;
    letter-spacing: 3px;
  }
  .product-title .container .content .text-title2 {
    font-size: 13px;
    letter-spacing: 2.5px;
  }
  .product-title .container .content .line {
    padding-top: 6px;
    width: 35px;
  }
  .product-row-content {
    margin-left: 0;
  }
  .product-row-content-detail {
    width: calc((100% / 2) - 30px);
  }
  .product-row-content-detail .btn-row {
    left: 9px;
    top: 65%;
  }
  .slider .detail {
    margin-left: 10%;
    width: 440px;
  }
}

@media screen and (max-width: 576px) {
  .header-top-menu .topmenu_left {
    display: none;
  }
  .header-top-menu .topmenu_right {
    width: 100%;
    text-align: right;
  }
  .header-category_menu_menulogo {
    width: 160px;
    height: 10%;
    margin-top: 12px;
  }
  .header-category_menu_menulogo_content {
    font-size: 15px;
    letter-spacing: 10px;
    padding: 0 0 7px 5px;
  }
  .banner {
    width: 100%;
  }
  .banner .container {
    padding: 15px 15px;
  }
  .banner-ads-01 {
    margin: 0 0;
  }
  .banner-ads-01 img {
    width: 100%;
  }
  .banner-ads-01 .text-ad01 {
    top: 60%;
    left: 42%;
    font-size: 20px;
  }
  .banner-ads-01 .btn-ad01 {
    top: 68.5%;
    left: 72.5%;
    font-size: 9px;
    padding: 8px 10px 8px 10px;
  }
  .banner-ads-02 {
    margin: 0;
    padding-left: 1px;
  }
  .banner-ads-02-content-top {
    margin-right: 50px;
  }
  .banner-ads-02-content-top img {
    width: 120%;
    height: 110px;
  }
  .banner-ads-02-content-top .text1-ad02 {
    top: 56.5%;
    left: 6.5%;
    font-size: 7px;
    letter-spacing: 2px;
  }
  .banner-ads-02-content-top .text2-ad02 {
    top: 64.5%;
    left: 6.5%;
    font-size: 10px;
  }
  .banner-ads-02-content-bottom {
    margin-left: 30px;
  }
  .banner-ads-02-content-bottom .text1-ad03 {
    top: 56.5%;
    left: 60%;
    font-size: 7px;
    letter-spacing: 2px;
  }
  .banner-ads-02-content-bottom .text2-ad03 {
    top: 64.5%;
    left: 60%;
    font-size: 10px;
  }
  .banner-ads-02-content-bottom .btn-ad03 {
    top: 73.5%;
    left: 60%;
    font-size: 6px;
    padding: 7px 10px 7px 10px;
  }
  .banner-ads-02-content-bottom img {
    width: 100%;
    height: 110px;
  }
  .product-title {
    margin-left: 30px;
    text-align: center;
  }
  .product-title .container .content .text-title1 {
    font-size: 9px;
    letter-spacing: 3px;
  }
  .product-title .container .content .text-title2 {
    font-size: 13px;
    letter-spacing: 2.5px;
  }
  .product-title .container .content .line {
    padding-top: 6px;
    width: 35px;
  }
  .product-row-content {
    margin-left: 25%;
  }
  .product-row-content-detail {
    width: 50%;
  }
  .product-row-content-detail .btn-row {
    width: 45%;
    height: 10%;
    left: 5%;
    top: 65%;
    font-size: 7px;
  }
  .product-row-content-detail ul .product-text {
    font-size: 10px;
  }
  .product-row-content-detail .rating {
    font-size: 8px;
  }
  .product-row-content-detail .price {
    font-size: 13px;
  }
  .product-row-content-detail .discour {
    font-size: 13px;
  }
  .slider-category_row .slick-slide {
    margin: 0;
  }
  .slider-category_row_col .detail {
    width: 350px;
    margin: 0 19%;
  }
  .footer-content {
    width: 100%;
  }
  .footer-content-row {
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copyright-content-rules {
    font-size: 10px;
  }
  .footer-copyright-content-payment {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  .header-top-menu .topmenu_left {
    display: none;
  }
  .header-top-menu .topmenu_right {
    display: none;
  }
  .header-category_menu_menulogo_content {
    width: 50%;
    letter-spacing: 10px;
  }
  .header-category_cart {
    padding-top: 11px;
    margin-left: 10px;
  }
  .header-category_cart .cart {
    padding-left: 6px;
    font-size: 26px;
    line-height: 0.733;
  }
  .banner {
    width: 100%;
  }
  .banner-ads-01 .text-ad01 {
    font-size: 18px;
  }
  .banner-ads-01 .btn-ad01 {
    left: 77.5%;
    font-size: 7px;
    padding: 5px 7px 5px 7px;
  }
  .banner-ads-02-content-top {
    margin-right: 14px;
  }
  .banner-ads-02-content-top img {
    width: 100%;
    height: 80px;
  }
  .banner-ads-02-content-top .text1-ad02 {
    top: 60.5%;
    left: 6%;
    font-size: 8px;
  }
  .banner-ads-02-content-top .text2-ad02 {
    top: 67.5%;
    left: 6%;
    font-size: 11px;
  }
  .banner-ads-02-content-bottom {
    margin-left: 0;
  }
  .banner-ads-02-content-bottom .text1-ad03 {
    top: 60.5%;
    left: 54%;
    font-size: 8px;
  }
  .banner-ads-02-content-bottom .text2-ad03 {
    top: 67.5%;
    left: 54%;
    font-size: 11px;
  }
  .banner-ads-02-content-bottom .btn-ad03 {
    top: 78.5%;
    left: 54%;
    font-size: 7px;
    padding: 5px 7px 5px 7px;
  }
  .banner-ads-02-content-bottom img {
    width: 100%;
    height: 80px;
  }
  .product-title {
    padding-left: 5px;
    text-align: center;
  }
  .product-title .container .content {
    padding-left: 0px;
  }
  .product-title .container .content .text-title1 {
    font-size: 7px;
    letter-spacing: 2px;
  }
  .product-title .container .content .text-title2 {
    font-size: 11px;
    letter-spacing: 2.5px;
  }
  .product-title .container .content .line {
    padding-top: 6px;
    width: 27px;
  }
  .product-row {
    width: 100%;
  }
  .product-row-content {
    margin-left: 30%;
  }
  .product-row-content-detail {
    width: 50%;
  }
  .product-row-content-detail img {
    width: 190px;
  }
  .product-row-content-detail .btn-row {
    width: 80px;
    height: 10%;
    left: 5%;
    top: 60%;
    font-size: 7px;
  }
  .product-row-content-detail ul .product-text {
    font-size: 10px;
  }
  .product-row-content-detail .rating {
    font-size: 8px;
  }
  .product-row-content-detail .price {
    font-size: 13px;
  }
  .product-row-content-detail .discour {
    font-size: 13px;
  }
  .slider-category_row_col .detail {
    margin: 0 21%;
    width: 250px;
  }
  .footer-content-row-col {
    width: 100%;
    margin-right: 0;
  }
  .footer-copyright-content-rules {
    font-size: 8px;
  }
  .footer-copyright-content-rules .icon-1 {
    font-size: 8px;
  }
  .footer-copyright-content-payment {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
  .header-category .nav-bar {
    font-size: 20px;
  }
  .header-category_menu_menulogo {
    margin-left: 20px;
    width: 40%;
  }
  .header-category_menu_menulogo_content {
    width: 40%;
    letter-spacing: 6px;
    font-size: 13px;
    padding-top: 2px;
  }
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-row {
    width: 100%;
  }
  .product-row-content {
    margin-left: 30%;
  }
  .product-row-content-detail {
    width: 50%;
  }
  .product-row-content-detail img {
    width: 170px;
  }
  .product-row-content-detail .btn-row {
    width: 80px;
    height: 10%;
    left: 5%;
    top: 170px;
    font-size: 7px;
  }
  .product-row-content-detail ul .product-text {
    font-size: 10px;
  }
  .product-row-content-detail .rating {
    font-size: 8px;
  }
  .product-row-content-detail .price {
    font-size: 13px;
  }
  .product-row-content-detail .discour {
    font-size: 13px;
  }
  .slider-category {
    padding-left: 20%;
  }
  .slider-category_row .slick-dots {
    padding-right: 15%;
  }
  .slider-category_row_col {
    margin-left: 20px;
  }
  .slider-category_row_col .detail {
    margin: 0;
    width: 250px;
  }
  .footer-content-row-col {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */