/*---------------------------------Color---------------------------*/
/*---------------------------------Text Font---------------------------*/
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 300;
  display: block;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
  display: block;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  display: block;
}

/*---------------------------------Text effet---------------------------*/
* {
  padding: 0;
  margin: 0;
  border: none;
}

ul, li {
  list-style: none;
}

.header-top {
  background-color: black;
}

.header-top ul, .header-top li {
  display: inline;
}

.header-top-topmenu {
  color: #525252;
  line-height: 1.2;
  font-size: 14px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 10px;
}

.header-top .fa-solid {
  padding-left: 30px;
}

.header-category {
  height: 80px;
  border-bottom: 1px solid lightgray;
}

.header-category_menu_menulogo {
  height: 40px;
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  border: solid 2px black;
  margin-top: 20px;
  margin-left: 11px;
}

.header-category_menu_menulogo_content {
  font-family: "Montserrat";
  line-height: 0.75;
  font-weight: bold;
  color: black;
  font-size: 20px;
  line-height: 0.75;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.header-category_menubar .list-items {
  padding-top: 34px;
  padding-left: 56px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.header-category_menubar .list-items:first-child {
  color: #8262b5;
}

.header-category_cart .cart {
  padding-top: 29px;
  padding-left: 30px;
  font-size: 30px;
  font-family: "Pe";
  color: black;
  line-height: 0.733;
}

.banner {
  padding-top: 30px;
}

.banner-ads-01 {
  position: relative;
}

.banner-ads-01 .text-ad01 {
  position: absolute;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: black;
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
  left: 340px;
  top: 320px;
}

.banner-ads-01 .but-ad01 {
  position: absolute;
  background-color: #8262b5;
  font-family: "Montserrat";
  color: white;
  line-height: 1.2;
  text-align: center;
  left: 550px;
  top: 367px;
  padding: 14px 17px 14px 17px;
}

.banner-ads-02 {
  padding-left: 30px;
  position: relative;
}

.banner-ads-02-content-top .text1-ad02 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  color: #525252;
  letter-spacing: 3.5px;
  font-size: 16px;
  left: 80px;
  top: 88px;
  font-weight: 300;
}

.banner-ads-02-content-top .text2-ad02 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-weight: 1000;
  color: black;
  font-size: 20px;
  left: 80px;
  top: 113px;
}

.banner-ads-02-content-bottom {
  padding-top: 30px;
}

.banner-ads-02-content-bottom .text1-ad03 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  color: #525252;
  letter-spacing: 3.5px;
  font-size: 16px;
  left: 80px;
  top: 353px;
  font-weight: 300;
}

.banner-ads-02-content-bottom .text2-ad03 {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-weight: 1000;
  color: black;
  font-size: 20px;
  left: 80px;
  top: 375px;
}

.banner-ads-02-content-bottom .but-ad03 {
  position: absolute;
  background-color: #8262b5;
  font-family: "Montserrat";
  color: white;
  line-height: 1.2;
  text-align: center;
  left: 80px;
  top: 409px;
  padding: 14px 17px 14px 17px;
}

/*--------------------------------Product------------------------------------*/
/*------------------------Title---------------------------*/
.product-title {
  padding-top: 80px;
}

.product-title .container {
  padding-left: 0;
  padding-right: 0;
}

.product-title .container .content .text-title1 {
  font-size: 12px;
  font-family: "Montserrat";
  color: #8262b5;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
  text-align: left;
}

.product-title .container .content .text-title2 {
  font-size: 24px;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.product-title .container .content .line {
  border-bottom: 1px solid #8262b5;
  padding-top: 6px;
  width: 50px;
}

.product-row-1 {
  padding-top: 50px;
}

.product-row-1-content-1 {
  position: relative;
}

.product-row-1-content-1 .but-row-1 {
  position: absolute;
  left: 10px;
  top: 259px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-1-content-1 .but-row-1:active {
  background-color: white;
  color: #8262b5;
}

.product-row-1-content-1 ul {
  padding-top: 20px;
  display: block;
}

.product-row-1-content-1 ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
}

.product-row-1-content-1 .rating {
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-1-content-1 .checker {
  color: #f7e227;
}

.product-row-1-content-1 .price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-1-content-1 .discour {
  color: #644891;
  font-weight: bold;
}

.product-row-1-content-2 {
  position: relative;
  padding-left: 30px;
}

.product-row-1-content-2 .but-row-2 {
  position: absolute;
  left: 40px;
  top: 259px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-1-content-2 .but-row-2:active {
  background-color: white;
  color: #8262b5;
}

.product-row-1-content-2 ul {
  padding-top: 20px;
  display: block;
}

.product-row-1-content-2 ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
}

.product-row-1-content-2 .rating {
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-1-content-2 .checker {
  color: #f7e227;
}

.product-row-1-content-2 .price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-1-content-2 .discour {
  color: #644891;
  font-weight: bold;
}

.product-row-2 {
  padding-top: 40px;
}

.product-row-2-content-1 {
  position: relative;
}

.product-row-2-content-1 .but-row-1 {
  position: absolute;
  left: 10px;
  top: 259px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-2-content-1 .but-row-1:active {
  background-color: white;
  color: #8262b5;
}

.product-row-2-content-1 ul {
  padding-top: 20px;
  display: block;
}

.product-row-2-content-1 ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
}

.product-row-2-content-1 .rating {
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-2-content-1 .checker {
  color: #f7e227;
}

.product-row-2-content-1 .price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-2-content-1 .discour {
  color: #644891;
  font-weight: bold;
}

.product-row-2-content-2 {
  position: relative;
  padding-left: 30px;
}

.product-row-2-content-2 .but-row-2 {
  position: absolute;
  left: 40px;
  top: 259px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #424242;
  text-transform: uppercase;
  line-height: 2.167;
  background-color: white;
  width: 118px;
  height: 40px;
  font-weight: 300;
}

.product-row-2-content-2 .but-row-2:active {
  background-color: white;
  color: #8262b5;
}

.product-row-2-content-2 ul {
  padding-top: 20px;
  display: block;
}

.product-row-2-content-2 ul .product-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
}

.product-row-2-content-2 .rating {
  font-size: 10px;
  color: #c7c6c6;
}

.product-row-2-content-2 .checker {
  color: #f7e227;
}

.product-row-2-content-2 .price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #c7c6c6;
}

.product-row-2-content-2 .discour {
  color: #644891;
  font-weight: bold;
}

/*------------------------Slider----------------------------*/
.slider {
  margin-top: 80px;
  background-image: url("../images/background-1.jpg");
  height: 708px;
  padding-top: 80px;
}

.slider-title-content-descript .text-title1 {
  font-size: 12px;
  font-family: "Montserrat";
  color: #8262b5;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
}

.slider-title-content-descript .text-title2 {
  font-size: 24px;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.slider-title-content-descript .line {
  border-bottom: 1px solid #8262b5;
  padding-top: 6px;
  width: 50px;
}

.slider-category {
  padding-top: 50px;
}

.slider-category-content-1 {
  position: relative;
}

.slider-category-content-1 .date-1 {
  background-color: #a1d1dd;
  top: 22px;
  position: absolute;
  width: 60px;
  height: 60px;
  padding-left: 6px;
  padding-top: 6px;
  left: 20px;
}

.slider-category-content-1 .date-1 .date-info {
  border-width: 1px;
  border-color: #fefefe;
  border-style: solid;
  width: 48px;
  height: 48px;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.2;
  text-align: center;
  padding-top: 6px;
}

.slider-category-content-1 .date-1 .date-info li:nth-child(2) {
  font-weight: 300;
}

.slider-category-content-1 .info {
  background-color: white;
  padding-top: 20px;
}

.slider-category-content-1 .info .slide-title {
  padding-left: 20px;
  font-size: 16px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.225;
  font-weight: 300;
}

.slider-category-content-1 .info .slide-title:active {
  background-color: white;
  color: #8262b5;
}

.slider-category-content-1 .info .slide-descript {
  padding-left: 20px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #424242;
  line-height: 1.571;
}

.slider-category-content-1 .info .line {
  border-bottom: 1px solid lightgray;
  display: block;
  width: 360px;
}

.slider-category-content-1 .info .slide-icon {
  padding-left: 20px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #e6dada;
  padding-bottom: 20px;
}

.slider-category-content-2 {
  padding-left: 30px;
  position: relative;
}

.slider-category-content-2 .date-2 {
  background-color: #a1d1dd;
  top: 22px;
  left: 50px;
  position: absolute;
  width: 60px;
  height: 60px;
  padding-left: 6px;
  padding-top: 6px;
}

.slider-category-content-2 .date-2 .date-info {
  border-width: 1px;
  border-color: #fefefe;
  border-style: solid;
  width: 48px;
  height: 48px;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.2;
  text-align: center;
  padding-top: 6px;
}

.slider-category-content-2 .date-2 .date-info li:nth-child(2) {
  font-weight: 300;
}

.slider-category-content-2 .info {
  background-color: white;
  padding-top: 20px;
}

.slider-category-content-2 .info .slide-title {
  padding-left: 20px;
  font-size: 16px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.225;
  font-weight: 300;
}

.slider-category-content-2 .info .slide-title:active {
  background-color: white;
  color: #8262b5;
}

.slider-category-content-2 .info .slide-descript {
  padding-left: 20px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #424242;
  line-height: 1.571;
}

.slider-category-content-2 .info .line {
  border-bottom: 1px solid lightgray;
  display: block;
  width: 360px;
}

.slider-category-content-2 .info .slide-icon {
  padding-left: 20px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #e6dada;
  padding-bottom: 20px;
}

.slider-category-change {
  padding-top: 30px;
}

.slider-category-change .eclipse-1 {
  color: #8e8e8e;
  font-size: 10px;
  padding-left: 7px;
  padding-top: 5px;
}

.slider-category-change .eclipse-2 {
  color: #8262b5;
  padding-left: 7px;
}

/*------------------------footer----------------------------*/
.footer {
  padding-top: 60px;
  background-color: black;
}

.footer .container {
  padding-left: 0;
  padding-right: 0;
}

.footer-content-row {
  padding-top: 0;
}

.footer-content-row-col {
  width: 30%;
  margin-right: 130px;
}

.footer-content-row-col-1-title {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.35;
  text-align: left;
  font-weight: 300;
}

.footer-content-row-col-1 .line {
  border-bottom: 1px solid #393939;
  width: 260px;
}

.footer-content-row-col-1-descript {
  padding-top: 4px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #888888;
  line-height: 1.571;
  text-align: left;
  width: 100%;
}

.footer-content-row-col-1-list {
  padding-top: 40px;
  font-size: 16px;
  color: #828282;
  text-transform: uppercase;
  line-height: 1.2;
}

.footer-content-row-col-1-list .list-items {
  padding-left: 20px;
}

.footer-content-row-col-3-title {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.35;
  text-align: left;
  font-weight: 300;
}

.footer-content-row-col-3 .line {
  border-bottom: 1px solid #393939;
  width: 260px;
}

.footer-content-row-col-3-list-left .list-items {
  padding: 10px 20px 0 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: #888888;
  line-height: 1.2;
}

.footer-content-row-col-3-list-left .list-items:first-child {
  padding-top: 8px;
  padding-bottom: 49px;
}

.footer-content-row-col-3-list-left .list-items:nth-child(2) {
  padding-bottom: 20px;
}

.footer-content-row-col-3-list-right .list-items {
  padding-right: 60px;
  padding-top: 10px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #888888;
  line-height: 2.4;
}

.footer-content-row-col-3-list-right .list-items:first-child {
  padding-top: 0;
}

.footer-content-row-col-3-list-right a {
  color: #888888;
}

.footer-content-row-colmid {
  width: 40%;
  margin-right: 130px;
}

.footer-content-row-colmid-2-title {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  line-height: 1.35;
  text-align: left;
  font-weight: 300;
}

.footer-content-row-colmid-2 .line {
  border-bottom: 1px solid #393939;
  width: 360px;
}

.footer-content-row-colmid-2-list-left .list-items {
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  font-family: "OpenSans";
  color: #888888;
  line-height: 2.143;
  text-align: left;
}

.footer-content-row-colmid-2-list-left .list-items:first-child {
  padding-top: 0;
}

.footer-content-row-colmid-2-list-left .list-items:nth-child(4) {
  color: white;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.footer-content-row-colmid-2-list-right {
  padding-left: 0;
  padding-right: 30px;
  font-size: 14px;
  font-family: "OpenSans";
  color: #888888;
  line-height: 2.143;
  text-align: left;
}

.footer-content-row-colmid-2-list-right:first-child {
  padding-top: 0;
}

.footer-copyright .border-line {
  padding-top: 50px;
  border-bottom: 1px solid #393939;
}

.footer-copyright-content {
  padding-right: 0;
  padding-left: 0;
}

.footer-copyright-content-rules {
  font-size: 14px;
  font-family: "OpenSans";
  color: #888888;
  line-height: 1.8;
}

.footer-copyright-content-rules .icon {
  color: red;
}

.footer-copyright-content-rules .text {
  font-weight: bold;
  color: white;
}

.footer-copyright-content-payment {
  font-size: 20px;
  font-family: "Montserrat";
  color: #888888;
  line-height: 1.1;
}

.footer-copyright-content-payment .list .list-items {
  padding-left: 10px;
}

.footer-copyright .container {
  padding-left: 0;
  padding-right: 0;
}
/*# sourceMappingURL=index.css.map */