
.banner {
    padding-top: 35px;
    .container {
        padding: 0 0;
    }
    &-ads{
        display: flex;
        justify-content: center;
        
        &-01{
            overflow: hidden;
            position: relative;
            .descript {
                position: absolute;
                bottom: 148px;
                right: 94px;
                .text-ad01 {
                    width: fit-content;
                    font-size: 30px;
                    font-family: $font-family-3;
                    color: $black;
                    line-height: 1.2;
                    text-align: left;
                    font-weight: bold;
                
                }
                .btn-ad01 {
                    background-color: $light-violet;
                    font-family: $font-family-1;
                    color: $white;
                    line-height: 1.2;
                    text-align: center;
                    padding: 10px 13px 10px 13px;
                    margin-left: 208px;
                    margin-bottom: 5px;
                }
            }
        }
        &-02{
            overflow: hidden;
            padding-left: 30px;
            position: relative;
            &-content-top {
                .descript {
                    position: absolute;
                    top: 85px;
                    left: 85px;
                    .text1-ad02 {
                        text-transform: $text-tran-1;
                        line-height: 1;
                        font-family: $font-family-1;
                        color: $dark-gray;
                        letter-spacing: 3.5px;
                        font-size: 16px;
                        font-weight: 300;
                    }
                    .text2-ad02 {
                        text-transform: $text-tran-1;
                        line-height: 0;
                        padding-bottom: 10px;
                        font-family: $font-family-1;
                        font-weight: 1000;
                        color: $black;
                        font-size: 20px;
                    }
                }
                
            }
            &-content-bottom {
                padding-top: 30px;
                .descript {
                    position: absolute;
                    bottom: 107px;
                    left: 70px;
                    p {
                        margin-bottom: 0;
                    }
                    .text1-ad03 {
                        
                        text-transform: $text-tran-1;
                        font-family: $font-family-1;
                        color: $dark-gray;
                        letter-spacing: 3.5px;
                        font-size: 16px;
                        font-weight: 300;
                    
                    }
                    
                    .text2-ad03 {
                        text-transform: $text-tran-1;
                        padding-bottom: 10px;
                        font-family: $font-family-1;
                        font-weight: 1000;
                        color: $black;
                        font-size: 20px;
                    
                    }
                    
                    .btn-ad03 {
                        background-color: $light-violet;
                        font-family: $font-family-1;
                        color: $white;
                        text-align: center;
                        padding: 12px 13px 10px 13px;
                    
                    }
                }
            }
        }
    }
}