
.banner {
    padding-top: 35px;
    .container {
        padding: 0 0;
    }
    &-ads{
        display: flex;
        justify-content: center;
        &-01{
            overflow: hidden;
            position: relative;
            
            .text-ad01 {
                width: fit-content;
                position: absolute;
                font-size: 30px;
                font-family: $font-family-3;
                color: $black;
                line-height: 1.2;
                text-align: left;
                font-weight: bold;
                left: 342px;
                top: 319px;
            
            }
            .btn-ad01 {
                position: absolute;
                background-color: $light-violet;
                font-family: $font-family-1;
                color: $white;
                line-height: 1.2;
                text-align: center;
                
                left: 550px;
                top: 366px;
                padding: 12px 13px 10px 13px;
            }
        }
        &-02{
            overflow: hidden;
            padding-left: 30px;
            position: relative;
            &-content-top {
                .text1-ad02 {
                    position: absolute;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    font-family: $font-family-1;
                    color: $dark-gray;
                    letter-spacing: 3.5px;
                    font-size: 16px;
                    left: 85px;
                    top: 85px;
                    font-weight: 300;
                }
                .text2-ad02 {
                    position: absolute;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    padding-bottom: 10px;
                    font-family: $font-family-1;
                    font-weight:1000;
                    color: $black;
                    font-size: 20px;
                    left: 86px;
                    top: 104px;
                
                }
            }
            &-content-bottom {
                padding-top: 30px;
                .text1-ad03 {
                    position: absolute;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    font-family: $font-family-1;
                    color: $dark-gray;
                    letter-spacing: 3.5px;
                    font-size: 16px;
                    left: 68px;
                    top: 348px;
                    font-weight: 300;
                
                }
                .text2-ad03 {
                    position: absolute;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    padding-bottom: 10px;
                    font-family: $font-family-1;
                    font-weight:1000;
                    color: $black;
                    font-size: 20px;
                    left: 68px;
                    top: 369px;
                
                }
                .btn-ad03 {
                    position: absolute;
                    background-color: $light-violet;
                    font-family: $font-family-1;
                    color: $white;
                    line-height: 1.2;
                    text-align: center;
                    
                    left: 70px;
                    top: 409px;
                    padding: 12px 13px 10px 13px;
                
                }
            }
        }
    }
}