
/*------------------------footer----------------------------*/


.footer {
    height: 100%;
    padding-top: 59px;
    background-color: $black;
   
    .container{
        padding-left: 0;
        padding-right: 0;
        
    }
    &-content {
        padding-left: 1px;
        &-row{
            display: flex;
            justify-content: space-between;
            padding-top: 0;
            &-col {
                width: 30%;
                margin-right: 130px;

                &-1 {
                    &-title {
                        font-size: 16px;
                        font-family: $font-family-1;
                        color: $white;
                        line-height: 1.35;
                        text-align: left;
                        font-weight: 300;
                    }
        
                    .line {
                        padding-top: 10px;
                        border-bottom: 1px solid rgb(57, 57, 57);
                        width: 260px;
                    
                    }
        
                    &-descript {
                        padding-top: 7px;
                        padding-left: 2px;
                        font-size: 14px;
                        font-family: $font-family-2;
                        color: $light-gray;
                        line-height: 1.571;
                        text-align: left;
                        width: 100%;
        
                    }
        
                    &-list {
                        display: flex;
                        padding-top: 31px;
                        font-size: 16px;
                        color: rgb(130, 130, 130);
                        text-transform: uppercase;
                        line-height: 1.2;
        
                        .list-items {
                            padding-left: 32px;
                        
                        }
                    }
                }

                &-3 {
                    &-title {
                        font-size: 16px;
                        font-family: $font-family-1;
                        color: $white;
                        line-height: 1.35;
                        text-align: left;
                        font-weight: 300;
                    }
        
                    .line {
                        padding-top: 10px;
                        border-bottom: 1px solid rgb(57, 57, 57);
                        width: 260px;
                    
                    }
                    &-list {
                        padding-top: 3px;
                        .list-items {
                            display: flex;
                            font-size: 15px;
                            font-family: $font-family-1;
                            line-height: 2.2;
                            color: $light-gray;
                            i {
                                margin-right: 11.5px;
                                line-height: 34px;
                            }
                            a{
                                color: $light-gray;
                                
                            }
                        }
                    }
                }

            }

            &-colmid {
                width: 40%;
                margin-right: 130px;
                &-2 {
        
                    &-title {
                        font-size: 16px;
                        font-family: $font-family-1;
                        color: $white;
                        line-height: 1.35;
                        text-align: left;
                        font-weight: 300;
                    }
        
                    .line {
                        padding-top: 10px;
                        border-bottom: 1px solid rgb(57, 57, 57);
                        width: 360px;
                    
                    }
        
                    &-list {
                        display: flex;
                        justify-content: space-between;
                        align-items: left;
                        padding-top: 2px;
                        &-left {
                            .list-items{
                                a {
                                    color: $light-gray;
                                }
                                &:first-child{
                                    padding-top: 0;
                                }
                                &:nth-child(4){
                                    a{
                                        color: $white;
                                    }
                                    text-decoration: underline $white;
                                }
                                
                                padding-left: 0;
                                padding-right: 0;
                                font-size: 14px;
                                font-family: $font-family-2;
                                line-height: 2.143;
                                text-align: left;
                            }
                        }
                        &-right {
                            a {
                                color: $light-gray;
                                
                            }
                            &:first-child{
                                padding-top: 0;
                            }
                            padding-top: 2px;
                            padding-left: 0;
                            padding-right: 48px;
                            font-size: 14px;
                            font-family: $font-family-2;
                            line-height: 2.143;
                            text-align: left;
                        }
                    }
                }
            }
        }
       

        
    }
    
    &-copyright {
        .border-line {
            padding-top: 23px;
            border-bottom: 1px solid rgb(57, 57, 57);

        }
        &-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 3px;
            padding-top: 4px;
            &-rules {
                font-size: 14px;
                font-family: $font-family-2;
                color: $light-gray;
                line-height: 1.8;

                .icon-1 {
                    font-size: 12px;
                }

                .icon-2 {
                    color: red;
                    
                }

                .text {
                    font-weight: bold;
                    color: $white;
                
                }
            }
            &-payment {
                padding-right: 0;
                font-size: 20px;
                font-family: $font-family-1;
                color: $light-gray;
                line-height: 1.1;
                .list {
                    display: flex;
                    .list-items{
                        padding-left: 10px;

                    }
                }
            }
        }
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
}