/*--------------------------------Product------------------------------------*/

/*------------------------Title---------------------------*/

.product {
    
    &-title {
        padding-top: 74px;
        .container {
            padding-left: 0;
            padding-right: 0;
            .content {
                .text-title1 {
                    font-size: 12px;
                    font-family: $font-family-1;
                    color: $light-violet;
                    font-weight: bold;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    letter-spacing: 6px;
                    text-align: left;

                }
                .text-title2 {
                    font-size: 24px;
                    font-family: $font-family-1;
                    color: $black;
                    font-weight: bold;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    text-align: left;
                    letter-spacing: 2.5px;
                
                }
                .line {
                    border-bottom: 1px solid $light-violet;
                    padding-top: 6px;
                    width: 50px;
                }
            }
        }
    }
    &-row {
        padding-top: 34px;
        .container{
            padding: 0;
        }
        width: 100%;
        &-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &-detail {
                .img-detail {
                    position: relative;
                    img {
                        width: 100%;
                    }

                    .btn-row {
                        position: absolute;
                        left: 5px;
                        bottom: 5px;
                        font-size: 12px;
                        font-family: $font-family-1;
                        color: $light-dark;
                        text-transform: $text-tran-1;
                        line-height: 2.167;
                        background-color: $white;
                        width: 118px;
                        height: 40px;
                        font-weight: 300;
                    
                    }
                    
                    .btn-row:active {
                        background-color: $white;
                        color: $light-violet;
                    
                    }
                }

                &:nth-child(4n) {
                    margin-right: 0;
                }
                width: calc(((100% + 30px) / 4) - 30px);
                margin: 0 30px 32px 0;
                position: relative;
                
                ul {
                    padding-top: 11px;
                    display:block;

                    .product-text {
                        font-size: 14px;
                        font-family: $font-family-1;
                        color: $black;
                        line-height: 1.857;
                        font-weight: 300;
                        padding-left: 2px;
                    
                    }
                
                }
                .rating {
                    padding-top: 4px;
                    padding-left: 2px;
                    padding-bottom: 4px;
                    font-size: 10px;
                    color: rgb(199, 198, 198);
                
                }
                .checker{
                    color: rgb(247, 226, 39);
                
                }
                .price {
                    padding-left: 2px;
                    text-decoration-line: line-through;
                    color: rgb(199, 198, 198);
                
                }

                .discour {
                    color:rgb(100, 72, 145);
                    font-weight: bold;
                
                }
            }
        }
    }
}