/*--------------------------------Product------------------------------------*/

/*------------------------Title---------------------------*/

.product {
    &-title {
        padding-top: 80px;
        .container {
            padding-left: 0;
            padding-right: 0;
            .content {
                .text-title1 {
                    font-size: 12px;
                    font-family: $font-family-1;
                    color: $color-2;
                    font-weight: bold;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    letter-spacing: 4px;
                    text-align: left;

                }
                .text-title2 {
                    font-size: 24px;
                    font-family: $font-family-1;
                    color: $color-3;
                    font-weight: bold;
                    text-transform: $text-tran-1;
                    line-height: 1.2;
                    text-align: left;
                
                }
                .line {
                    border-bottom: 1px solid $color-2;
                    padding-top: 6px;
                    width: 50px;
                }
            }
        }
    }
    &-row-1 {
        padding-top: 50px;
        &-content {
            &-1{
                position: relative;

                .but-row-1 {
                    position: absolute;
                    left:10px;
                    top:259px;
                    font-size: 12px;
                    font-family: $font-family-1;
                    color: $color-product;
                    text-transform: $text-tran-1;
                    line-height: 2.167;
                    background-color: $back-color-1;
                    width: 118px;
                    height: 40px;
                    font-weight: 300;
                
                }

                .but-row-1:active {
                    background-color: $back-color-1;
                    color: $color-2;
                
                }
                ul {
                    padding-top: 20px;
                    display:block;

                    .product-text {
                        font-size: 14px;
                        font-family: $font-family-1;
                        color: $color-3;
                        line-height: 1.857;
                    
                    }
                
                }
                .rating {
                    font-size: 10px;
                    color: rgb(199, 198, 198);
                
                }
                .checker{
                    color: rgb(247, 226, 39);
                
                }
                .price {
                    text-decoration-line: line-through;
                    color: rgb(199, 198, 198);
                
                }

                .discour {
                    color:rgb(100, 72, 145);
                    font-weight: bold;
                
                }
            }

            &-2{
                position: relative;
                padding-left: 30px;
                .but-row-2 {
                    position: absolute;
                    left:40px;
                    top:259px;
                    font-size: 12px;
                    font-family: $font-family-1;
                    color: $color-product;
                    text-transform: $text-tran-1;
                    line-height: 2.167;
                    background-color: $back-color-1;
                    width: 118px;
                    height: 40px;
                    font-weight: 300;
                
                }
                .but-row-2:active {
                    background-color: $back-color-1;
                    color: $color-2; 
                
                }

                ul {
                    padding-top: 20px;
                    display:block;
                    .product-text {
                        font-size: 14px;
                        font-family: $font-family-1;
                        color: $color-3;
                        line-height: 1.857;
                    
                    }
                
                }
                .rating {
                    font-size: 10px;
                    color: rgb(199, 198, 198);
                
                }
                .checker{
                    color: rgb(247, 226, 39);
                
                }

                .price {
                    text-decoration-line: line-through;
                    color: rgb(199, 198, 198);
                
                }

                .discour {
                    color:rgb(100, 72, 145);
                    font-weight: bold;
                
                }
            }
        }
    }
    &-row-2 {
        padding-top: 40px;
        &-content {
            &-1{
                position: relative;

                .but-row-1 {
                    position: absolute;
                    left:10px;
                    top:259px;
                    font-size: 12px;
                    font-family: $font-family-1;
                    color: $color-product;
                    text-transform: $text-tran-1;
                    line-height: 2.167;
                    background-color: $back-color-1;
                    width: 118px;
                    height: 40px;
                    font-weight: 300;
                
                }

                .but-row-1:active {
                    background-color: $back-color-1;
                    color: $color-2;
                
                }
                ul {
                    padding-top: 20px;
                    display:block;

                    .product-text {
                        font-size: 14px;
                        font-family: $font-family-1;
                        color: $color-3;
                        line-height: 1.857;
                    
                    }
                
                }
                .rating {
                    font-size: 10px;
                    color: rgb(199, 198, 198);
                
                }
                .checker{
                    color: rgb(247, 226, 39);
                
                }

                .price {
                    text-decoration-line: line-through;
                    color: rgb(199, 198, 198);
                
                }

                .discour {
                    color:rgb(100, 72, 145);
                    font-weight: bold;
                
                }
            }

            &-2{
                position: relative;
                padding-left: 30px;

                .but-row-2 {
                    position: absolute;
                    left:40px;
                    top:259px;
                    font-size: 12px;
                    font-family: $font-family-1;
                    color: $color-product;
                    text-transform: $text-tran-1;
                    line-height: 2.167;
                    background-color: $back-color-1;
                    width: 118px;
                    height: 40px;
                    font-weight: 300;
                
                }

                .but-row-2:active {
                    background-color: $back-color-1;
                    color: $color-2; 
                
                }

                ul {
                    padding-top: 20px;
                    display:block;

                    .product-text {
                        font-size: 14px;
                        font-family: $font-family-1;
                        color: $color-3;
                        line-height: 1.857;

                    }
                }

                .rating {
                    font-size: 10px;
                    color: rgb(199, 198, 198);
                
                }
                .checker{
                    color: rgb(247, 226, 39);
                
                }

                .price {
                    text-decoration-line: line-through;
                    color: rgb(199, 198, 198);
                
                }

                .discour {
                    color:rgb(100, 72, 145);
                    font-weight: bold;
                
                }
            }
        }

    }
    
}