@media screen and (max-width:1200px) {
    .header-category {
        &_menubar {
            padding-left: 10px;

            .list-items {
                padding-bottom: 3px;
                padding-left: 10px;
            }

        }

        &_cart {
            padding-top: 11px;

            .cart {
                padding-left: 25px;
                font-size: 26px;
                line-height: 0.733;
            }
        }
    }



    .footer {
        &-content {
            &-row {
                width: 100%;

                &-col {
                    &-1 {
                        .line {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1170px) {

    // header
    .header-top {
        &-menu {
            .topmenu_right {
                li {
                    display: none;
                }
            }
        }
    }

    .header-category {
        &_menubar {
            padding-left: 10px;

            .list-items {
                padding-bottom: 3px;
                padding-left: 10px;
            }

        }

        &_cart {
            padding-top: 11px;

            .cart {
                padding-left: 25px;
                font-size: 26px;
                line-height: 0.733;
            }
        }
    }

    // banner
    .banner {
        &-ads {
            display: block;

            &-01 {
                text-align: center;
                margin-left: 60px;
            }

            &-02 {
                display: flex;
                margin-left: 103px;

                &-content-top {
                    margin-top: 30px;

                    .text1-ad02 {
                        font-size: 12px;
                        left: 80px;
                        top: 115px;
                    }

                    .text2-ad02 {
                        font-size: 16px;
                        left: 80px;
                        top: 130px;
                    }
                }

                &-content-bottom {
                    margin-left: 30px;
                    margin-top: 0;

                    .text1-ad03 {
                        font-size: 12px;
                        left: 460px;
                        top: 115px;
                    }

                    .text2-ad03 {
                        font-size: 16px;
                        left: 460px;
                        top: 130px;
                    }

                    .btn-ad03 {
                        left: 460px;
                        top: 150px;
                        padding: 10px 11px 10px 11px;
                        font-size: 10px;
                    }

                    img {
                        width: 360px;
                        height: 200px;
                    }
                }
            }
        }
    }

    .product {
        &-title {
            .content {
                padding-left: 75px;
            }
        }

        &-row {
            &-content {
                margin-left: 70px;
                &-detail {
                    &:nth-child(4n) {
                        margin-right: 30px;
                    }
                    width: calc((100% + 170px) / 4);
                }
            }
        }
    }


    .footer {
        &-content {
            &-row {
                &-col {
                    margin-right: 0;
                    &-1 {
                        margin-right: 30px;
                        .line {
                            width: 100%;
                        }
                    }

                    &-3 {
                        padding-left: 0;

                        .line {
                            width: 100%;
                        }
                    }
                }

                &-colmid {
                    margin-right: 0;
                    &-2 {
                        width: 270px;

                        .line {
                            width: 270px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .header-top {
        &-menu {
            font-size: 12px;
        }
    }

    .header-category {

        &_menu {
            &_menulogo {
                display: none;
            }

        }

        &_menubar {
            padding-left: 100px;

            .list-items {
                padding-bottom: 3px;
                padding-left: 15px;
            }

        }
    }

    .banner {
        width: 100%;

        &-ads {
            display: block;

            &-01 {
                margin-right: 84px;
            }

            &-02 {
                margin-top: 30px;
                margin-left: 62px;

            }
        }
    }

    .product {
        &-row {
            &-content {
                margin-left: 70px;
                &-detail {
                    width: calc((100% + 100px) / 4);

                    .btn-row {
                        left: 9px;
                        top: 70%;
                    }
                }
            }
        }
    }

    .slider {
        &-category {
            &_row {
                .slick-slide {
                    margin: 0 13px;
                }
                
                /* the parent */
                .slick-list {
                    margin: 0 -13px;
                }
            }
        }
    }

    .footer {
        &-content {
            &-row {
                padding-right: 140px;
                width: 100%;

                &-col {
                    &-1 {
                        &-title {
                            font-size: 10px;
                        }

                        &-descript {
                            font-size: 10px;
                        }
                    }

                    &-3 {
                        &-title {
                            font-size: 10px;
                        }

                        &-list {
                            ul {
                                .list-items {
                                    font-size: 10px;
                                }
                            }
                            // &-left {
                            //     .list-items {

                            //         &:first-child {
                            //             padding-top: 7px;
                            //             padding-bottom: 30px;
                            //         }

                            //         &:nth-child(2) {
                            //             padding-bottom: 6px;
                            //         }

                            //         font-size: 8px;
                            //     }
                            // }

                            // &-right {
                            //     .list-items {
                            //         font-size: 10px;

                            //         &:first-child {
                            //             padding-top: 0;
                            //         }

                            //         padding-right: 65px;
                            //         padding-top: 1px;
                            //     }
                            // }
                        }
                    }
                }

                &-colmid {
                    padding-right: 0;

                    &-2 {
                        &-title {
                            font-size: 12px;
                        }

                        &-list {
                            .list-items {
                                font-size: 10px;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .banner {
        width: 100%;

        &-ads {
            display: block;

            &-01 {
                img {
                    width: 100%;
                }
                float: left;
                .text-ad01 {
                    top: 58.5%;
                    left: 270px;
                    font-size: 25px;
                }

                .btn-ad01 {
                    top: 65.5%;
                    left: 447px;
                    font-size: 12px;
                }
            }

            &-02 {
                
                margin-top: 30px;
                margin-left: 27px;
                margin-right: 85px;
                &-content-top {
                    img {
                        width: 320px;
                        height: 170px;
                    }

                    .text1-ad02 {
                        top: 54.5%;
                        left: 65px;
                    }

                    .text2-ad02 {
                        top: 63.5%;
                        left: 65px;
                    }
                }

                &-content-bottom {
                    img {
                        width: 305px;
                        height: 170px;
                    }

                    .text1-ad03 {
                        top: 54.5%;
                        left: 400px;
                    }

                    .text2-ad03 {
                        top: 63.5%;
                        left: 400px;
                    }

                    .btn-ad03 {
                        top: 75.5%;
                        left: 400px;
                        font-size: 8px;
                    }
                }
            }
        }
    }

    .product {
        &-title {
            
            .content {
                align-items: center;
                padding-left: 0px;
            }
        }

        &-row {
            
            &-content {
                margin-left: 60px;

                &-detail {
                    width: calc((100% + 200px) / 3);

                    .btn-row {
                        left: 9px;
                        top: 61.5%;
                    }
                }
            }
        }
    }

    .slider {
        &-category {
            padding-left: 0;

            &_row {
                .slick-dots {
                    padding-right: 0;
                }
                .slick-slide {
                    margin: 0;
                }
                
                /* the parent */
                .slick-list {
                    margin: 0;
                }
               
                
                &_col {
                    
                    .detail {
                        margin-left:15%;
                        width: 500px;
                    }
                }
            }
        }
    }

    .footer {
        &-content {
            &-row {
                &-col {
                    width: 100%;
                }
                flex-direction: column;

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header-category {
        width: 100%;

        .nav-bar {
            display: block;
            font-size: 30px;
            padding: 10px 0 0 12px;
        }

        &_menu {
            &_menulogo {
                display: block;
                text-align: center;
                margin-left: 50px;
            }

        }

        &_menubar {
            display: block;
            position: absolute;
            margin-top: 385px;
            left: 0;
            transform: translateX(-120%);
            background: $dark-white;
            text-decoration: underline;
            transition: all .5s;
            padding: 0 12px 20px 0;

            .list-items {
                &:first-child {
                    padding-left: 15px;
                }

                text-align: center;
            }

        }

        .active {
            transform: translateX(78%);
            z-index: 1000;
        }
    }

    .banner {
        width: 100%;
        &-ads {

            &-01 {
                margin: 0 0;
                .text-ad01 {
                    top: 58.5%;
                    left: 40%;
                    font-size: 20px;
                }

                .btn-ad01 {
                    top: 68.5%;
                    left: 72%;
                    font-size: 12px;
                }
            }

            &-02 {
                
                margin: 0 0;
                padding-left: 1px;
                &-content-top {
                    img {
                        width: 100%;
                        height: 130px;
                    }
                    .text1-ad02 {
                        top: 56.5%;
                        left: 40px;
                    }

                    .text2-ad02 {
                        top: 66.5%;
                        left: 40px;
                    }
                }

                &-content-bottom {

                    .text1-ad03 {
                        top: 56.5%;
                        left: 55%;
                    }

                    .text2-ad03 {
                        top: 66.5%;
                        left: 55%;
                    }

                    .btn-ad03 {
                        top: 78.5%;
                        left: 55%;
                        font-size: 8px;
                    }
                    img {
                        width: 100%;
                        height: 130px;
                    }
                    
                }
            }
        }
    }

    .product {
        &-title {
            .container {
                .content {
                    padding-left: 0px;

                    .text-title1 {
                        font-size: 9px;
                        letter-spacing: 3px;


                    }

                    .text-title2 {
                        font-size: 13px;
                        letter-spacing: 2.5px;

                    }

                    .line {
                        padding-top: 6px;
                        width: 35px;
                    }
                }
            }
        }

        &-row {
            &-content {
                margin-left: 0;
                &-detail {
                    width: calc((100% / 2) - 30px);
                    .btn-row {
                        left: 9px;
                        top: 65%;
                    }
                }
            }
        }
    }

    .slider {
        .detail {
            margin-left: 10%;
            width: 440px;
        }
    }
}

@media screen and (max-width: 576px) {

    .header-top {
        &-menu {
            .topmenu_left {
                display: none;
            }

            .topmenu_right {
                width: 100%;
                text-align: right;
            }
        }
    }

    .header-category {
        &_menu {
            &_menulogo {
                width: 160px;
                height: 10%;
                margin-top: 12px;

                &_content {
                    font-size: 15px;
                    letter-spacing: 10px;
                    padding: 0 0 7px 5px;
                }
            }
        }
    }

    .banner {
        .container{
            padding: 15px 15px;
        }
        width: 100%;

        &-ads {
            &-01 {
                margin: 0 0;
                img {
                    width: 100%;
                }
                .text-ad01 {
                    top: 60%;
                    left: 42%;
                    font-size: 20px;
                }

                .btn-ad01 {
                    top: 68.5%;
                    left: 72.5%;
                    font-size: 9px;
                    padding: 8px 10px 8px 10px;
                }
            }

            &-02 {
                margin: 0;
                padding-left: 1px;
                &-content-top {
                    margin-right: 50px;
                    img {
                        width: 120%;
                        height: 110px;
                    }
                    .text1-ad02 {
                        top: 56.5%;
                        left: 6.5%;
                        font-size: 7px;
                        letter-spacing: 2px;
                    }

                    .text2-ad02 {
                        top: 64.5%;
                        left: 6.5%;
                        font-size: 10px;
                    }
                }

                &-content-bottom {
                    margin-left: 30px;
                    

                    .text1-ad03 {
                        top: 56.5%;
                        left: 60%;
                        font-size: 7px;
                        letter-spacing: 2px;
                    }

                    .text2-ad03 {
                        top: 64.5%;
                        left: 60%;
                        font-size: 10px;
                    }

                    .btn-ad03 {
                        top: 73.5%;
                        left: 60%;
                        font-size: 6px;
                        padding: 7px 10px 7px 10px;
                    }

                    img {
                        width: 100%;
                        height: 110px;
                    }
                }
            }
        }
    }

    .product {
        &-title {
            margin-left: 30px;
            text-align: center;

            .container {
                .content {
                    .text-title1 {
                        font-size: 9px;
                        letter-spacing: 3px;

                    }

                    .text-title2 {
                        font-size: 13px;
                        letter-spacing: 2.5px;

                    }

                    .line {

                        padding-top: 6px;

                        width: 35px;
                    }
                }
            }

        }

        &-row {

            &-content {
                margin-left: 25%;
                &-detail {
                    width: 50%;
                    .btn-row {
                        width: 45%;
                        height: 10%;
                        left: 5%;
                        top: 65%;
                        font-size: 7px;
                    }

                    ul {
                        .product-text {
                            font-size: 10px;

                        }
                    }

                    .rating {
                        font-size: 8px;
                    }

                    .price {
                        font-size: 13px;
                    }

                    .discour {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .slider {
        &-category {
            &_row {
                .slick-slide {
                    margin: 0;
                }

                &_col {
                    .detail {
                        width: 350px;
                        margin: 0 19%;

                    //     img {
                    //         width: 60%;
                    //     }

                    //     .info {
                    //         width: 60%;
                    //     }
                    }
                }
            }
        }
    }

    .footer {

        &-content {
            width: 100%;

            &-row {
                padding-left: 30px;
                flex-direction: column;

            }

        }

        &-copyright {
            &-content {
                &-rules {
                    font-size: 10px;

                }

                &-payment {
                    font-size: 15px;

                }

            }

        }
    }
}

@media screen and (max-width: 420px) {
    .header-top {
        &-menu {
            .topmenu_left {
                display: none;
            }

            .topmenu_right {
                display: none;
            }
        }
    }

    .header-category {
        &_menu {

            &_menulogo {
                &_content {
                    width: 50%;
                    letter-spacing: 10px;
                }
            }
        }

        &_cart {
            padding-top: 11px;
            margin-left: 10px;

            .cart {
                padding-left: 6px;
                font-size: 26px;

                line-height: 0.733;
            }
        }

    }

    .banner {
        width: 100%;

        &-ads {
            &-01 {
                .text-ad01 {
                    font-size: 18px;
                }

                .btn-ad01 {
                    left: 77.5%;
                    font-size: 7px;
                    padding: 5px 7px 5px 7px;
                }
            }

            &-02 {
                &-content-top {
                    margin-right: 14px;
                    img {
                        width: 100%;
                        height: 80px;
                    }

                    .text1-ad02 {
                        top: 60.5%;
                        left: 6%;
                        font-size: 8px;
                    }

                    .text2-ad02 {
                        top: 67.5%;
                        left: 6%;
                        font-size: 11px;
                    }
                }

                &-content-bottom {
                    margin-left: 0;
                    .text1-ad03 {
                        top: 60.5%;
                        left: 54%;
                        font-size: 8px;
                    }

                    .text2-ad03 {
                        top: 67.5%;
                        left: 54%;
                        font-size: 11px;
                    }

                    .btn-ad03 {
                        top: 78.5%;
                        left: 54%;
                        font-size: 7px;
                        padding: 5px 7px 5px 7px;
                    }

                    img {
                        width: 100%;
                        height: 80px;
                    }
                }
            }
        }
    }

    .product {
        &-title {
            padding-left: 5px;
            text-align: center;

            .container {
                .content {
                    padding-left: 0px;

                    .text-title1 {
                        font-size: 7px;
                        letter-spacing: 2px;

                    }

                    .text-title2 {
                        font-size: 11px;
                        letter-spacing: 2.5px;

                    }

                    .line {
                        padding-top: 6px;

                        width: 27px;
                    }
                }
            }

        }

        &-row {
            width: 100%;

            &-content {
                margin-left: 30%;

                &-detail {
                    img {
                        width: 190px;
                    }

                    width: 50%;

                    .btn-row {
                        width: 80px;
                        height: 10%;
                        left: 5%;
                        top: 60%;
                        font-size: 7px;
                    }

                    ul {
                        .product-text {
                            font-size: 10px;

                        }
                    }

                    .rating {
                        font-size: 8px;
                    }

                    .price {
                        font-size: 13px;
                    }

                    .discour {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .slider {
        &-category {
            &_row {
                &_col {
                    .detail {
                        margin: 0 21%;
                        width: 250px;
                    }
                }
            }
        }
    }

    .footer {
        &-content-row-col {
            width: 100%;
            margin-right: 0;
        }
        &-copyright {
            &-content {
                &-rules {
                    font-size: 8px;

                    .icon-1 {
                        font-size: 8px;
                    }

                }

                &-payment {
                    font-size: 13px;

                }

            }

        }
    }
}

@media screen and (max-width: 375px) {

    .header-category {
        .nav-bar {
            font-size: 20px;
        }

        &_menu {
            &_menulogo {
                margin-left: 20px;
                width: 40%;

                &_content {
                    width: 40%;
                    letter-spacing: 6px;
                    font-size: 13px;
                    padding-top: 2px;
                }
            }
        }
    }

    .banner {
        justify-content: center;
    }

    .product {
        &-row {
            width: 100%;

            &-content {
                margin-left: 30%;

                &-detail {
                    img {
                        width: 170px;
                    }

                    width: 50%;

                    .btn-row {
                        width: 80px;
                        height: 10%;
                        left: 5%;
                        top: 170px;
                        font-size: 7px;
                    }

                    ul {
                        .product-text {
                            font-size: 10px;

                        }
                    }

                    .rating {
                        font-size: 8px;
                    }

                    .price {
                        font-size: 13px;
                    }

                    .discour {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .slider {
        &-category {
            padding-left: 20%;

            &_row {
                .slick-dots {
                    padding-right: 15%;
                }
                &_col {
                    margin-left: 20px;
                    .detail {
                        margin: 0;
                        width: 250px;
                    }
                }
            }
        }
    }
    .footer {
        &-content-row-col {
            width: 100%;
        }
    }
}